/*catDiv.css*/    
            #catDiv{
            position : relative;
            margin-top : 3vh;
            top : 10vw ;
            left : 5vw ;
            width : 90vw;
            height : auto;
            z-index : 2;
            transition : top 1s;
        }
        
        
        .larCatDiv{ /*position 속성 선언되어있지 않으면 무조건 아래로 내려감.*/
            width : 15vw;
            height : 15vw;
            margin : 1vw 1vw;
            padding : 1vw 1vw;
            transition : top 0.5s, visibility 0.5s ,opacity 0.5s;
            background : none;
            z-index : 2;
            float : left;
            
        } 
        
        .larCatDiv.main{
            position : relative;
            left : -2vw;
            z-index : 3;
            background : #2196F3;
            border-radius : 10vw;
            box-shadow : 0 2px 5px #000;
        }
        
        .larCatDiv.other{
            position : relative;
            display : none;
            margin-top : 1vh;
            left : -2vw;
            background : white;
            border-radius : 10vw;
            box-shadow : 0 2px 5px #000;
        }
        
        .larCatDiv img{
            position : absolute;
            max-width: 70%; 
            width:auto; height:auto;
            margin:auto;
            top:0; bottom:0; left:0; right:0;
            border-radius : 1vw;
        	pointer-events: none 
        	/*이벤트 전파 순서 변경. bubbling -> capturing*/
        }
        
        .midCatDiv{
            width: 70vw !important; height: 15vw !important;
            margin-top : 1vw;
            float : none;
            position : relative;
            border-radius : 10vw;
            background-color: rgba( 255, 255, 255, 0.5 );
        	top : 2vh;
        	z-index : 2;
        }
        
        .midCat{
            width: 13vw !important; height: 13vw !important;
            margin : 1vh 3vw 3vw 1vh;
            float : left;
            box-shadow : 0 2px 5px #000;
            background : white;
            border-radius : 10vw;
            transition : top 0.5s, visibility 0.5s ,opacity 0.5s;
            z-index : 2;
        }
        
        .midCat img {
            position : absolute;
            max-width: 80%; 
            width:auto; height:auto;
            margin:auto;
            top:0; bottom:0; left:0; right:0;
            border-radius : 3vw;
        }
