{% extends 'durumiApp/viewPage/viewBase.html' %}
{% load static %}

{% block pageName %}
    <img src='{% static "image/logo_full.png" %}' id="logo">
{% endblock%}


{% block pageContent %}
    <style>
    
    body{
        position : fixed;
    }
    
    #logo{
        width : 50vw;
    }
    
    #signupContainer{
        left: 5vw;
        position: fixed;
        width: 90vw;
        height: 55vh;
        margin-top: 8vh;
        padding-bottom : 3vh;
        background: white;
        border-color: #626263;
        border: solid thin #c0c0c0;
        border-radius: 15px;
    }
    
    #signupForm{
        width : 80vw;
        margin : 0 auto;
        text-align : center;
    }
    
    
    #signupForm input{
        font-size : 1.25em;
        border : none;
        outline-style : none;
    }
    
    #signupForm .inputRow{
        position: relative;
        padding: 1vh 1vw 1vh 1vw;
        border: solid 1px #bababa;
        background: white;
        
    	-moz-border-radius-topleft : 10px;  
        -moz-border-radius-topright: 10px;  
        -moz-border-radius-bottomleft: 10px;  
        -moz-border-radius-bottomright: 10px;  
        
        -webkit-border-top-left-radius: 10px;  
        -webkit-border-top-right-radius: 10px;  
        -webkit-border-bottom-left-radius: 10px;  
        -webkit-border-bottom-right-radius: 10px; 
    }
    
    #signupForm #signSubmit{
        background : #2196F3;
        color : white;
        font-weight : bold;
        font-size : 1.2em;
        width : 80vw;
        height : 5vh%;
        margin: 0 auto;
        padding-top : 1vw;
        text-align: center;
        border-radius: 2vw;
        margin-bottom:1vw;
    }
    
    #pageFooter{
        background : #f5f6f8;
        position : absolute;
        top : 90vh;
        height: 10vh;
        width : 100vw;
    }
    
    </style>
    
    
    <body>
        <div id="signupContainer">
            <form id="signupForm" method="post">
                {% csrf_token %}
                <br/>함께 걸어가는 여행의 동반자 <br/>여행 거르미에 오신것을 환영합니다! <br/>
                <br/>
                <div class="inputRow">
                    <input type="text" name="id" placeholder="아이디" class="accInput"></input>
                </div> * 영문자 숫자만 가능합니다. 
                <div class="inputRow">
                    <input type="password" name="pw" placeholder="비밀번호" class="accInput"></input>
                </div> <br/>
                <div class="inputRow">
                    <input type="password" name="pwcheck" placeholder="비밀번호확인" class="accInput"></input>
                </div> <br/>
                <div class="inputRow">
                    <input type="text" name="" placeholder="이메일" class="accInput"></input>
                </div> <br/>
                <input type="submit" value="여행거르미 시작하기" id="signSubmit"> <br/>
                <br/>
            </form>
        </div>
    </body>   
    
    <script>
        $('#signupForm input').on('focus',function(event){
            $(event.target).closest('.inputRow').css('border','solid 1px #2196F3')
        });
        
        $('#signupForm input').on('focusout',function(event){
            $(event.target).closest('.inputRow').css('border','solid 1px #bababa')
        });
    
        $('#signupForm').on('submit',function(event){
           var formData = $('#signupForm').serialize();
            $.ajax({
                cache : false,
                url : "{% url 'durumiApp:signup' %}" ,
                type : 'POST',
                data : formData,
                success : function(data){
                    var res = data['result']
                    alert(res);
                },
                error : function(xhr,status,)
                {
                    alert("통신 실패");
                },
            });
        });
        
    </script>
{% endblock %}