{% extends 'durumiApp/viewPage/viewBase.html' %}
{% load static %}
{% block pageName %}
    
{% endblock%}


{% block pageContent %}
    <style>

        img {
            width: 150px;
            height: 150px;
        }

        .False{
            -webkit-filter: grayscale(100%);
            filter: gray;
        }
    </style>

    <body>
        <div id="acvList">
            <h1>도전과제</h1>
            <div id="acvDiv">
                {% for list in Acv %}
                <div id="acvTable">
                    <table class='{{list.clear}}'> <!-- clear: True or False -->
                        <tr>
                            <td rowspan="2"><img src='{% static list.imgAddr %}'></td>
                            <td>{{list.name}}</td>
                        </tr>
                        <tr>
                            <td>{{list.content}}</td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>


    <script>
         
    </script>
{% endblock %}