<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Hello, world!</title>

        
        <!-- iframe 을 통해 페이지 이동 없이 submit--> 
        <style>
            #if{
                width: 100px;
                height: 100px;
                border : 100px;
            }
        </style>



    </head>

    <body>

        <h1>Hello, world!</h1>
        <!-- 좌표 입력을 위한 FORM 태그-->
        <p id="example">hello<br></p>
        <form id="PosForm" action="{% url 'polls:Pos' %}" method="POST" target="ifrm">
        {% csrf_token %}
        xPos : <input type = "number" name = "xPos" id = "xPos" size =8><BR>
        yPos : <input type = "number" name = "yPos" id = "yPos" size =8><BR>

        <!--<input type="submit" id="POST" value="post" /> -->
        <input type = "button" id = "POST" value = "확인">
        <input type = "reset" value = "취소"> 

        </form>
        <input type="button" id="button" value="execute" />

        <iframe id = "if" name = "ifrm" > </iframe>


    </body>

        <!-- Optional JavaScript -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$('#button').click(function()
    {
        $.ajax({
            url : "{% url 'polls:ajax' %}",
            dataType : "json",
            success : function(data)
            {
                var str = '';
                alert("성공");
                for(var name in data)
                {
                    str += '<li>' + name + '</li>';
                    str += '<li>' + data[name] + '</li>';
                }
                alert(str)
                $('#example').html('<ul>' + str + '</ul>');

            },
            error : function(request, status, error)
            {
                alert("실패")
                alert(error)
            },
        });
    })
</script>
-->
      <!-- Optional JavaScript -->



<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$('#POST').click(function()
    {

    var xPos = $("#xPos").val();
    var yPos = $("#yPos").val();

        $.ajax({
            url : "{% url 'polls:Pos' %}",
            dataType : "json",
            success : function(data)
            {
                var str = '';
                alert("성공");
                for(var name in data)
                {
                    str += '<li>' +  + '</li>';
                    str += '<li>' +  + '</li>';
                }
                alert(str)
                $('#example').html('<ul>' + xPos + '</ul>');

            },
            error : function(request, status, error)
            {
                alert("실패")
                alert(error)
            },
        });
    })
</script>

-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$('#POST').click(function()
{
    //form 에 있는 데이터를 한번에 모아줌 .serialize();
    var formData = $("#PosForm").serialize();


    $.ajax
    ({
        cache: false,
        //어떤 View 와 데이터통신을 진행할것인지 url로 표시
        url : "{% url 'polls:Pos' %}",
        //POST방식을 사용할것임
        type: 'POST',
        //formData = $("PosForm").serialize();
        data: formData,
        success : function(data)
        {
            // 성공이라는 메시지를 띄워줌
            alert("성공");
            // object HTMLInputElement를 float형으로 파싱해줌
            var x = parseFloat(xPos.value);
            var y = parseFloat(yPos.value);
            //실수로 잘 파싱되었는지 확인하기 위해 덧셈연산을 진행해줌
            var sum = x + y;
                  
            //sum을 화면에 출력해줌
            $('#example').html('<ul>' + sum + '</ul>');

        },
        error : function(xhr, status,)
        {
            //데이터 통신이 원활이 이루어지지 않으면 실패라는 에러메시지를 띄워줌
            alert("실패");
            alert(xhr + ":" + status);
        },
    });
})
</script>





</html>
