{% load static %}
<html>
    this is hamburgerMenu
    <style>
        
    </style>
    
    <div id="userInfo">
        <div id="userIcon">유저아이콘</div>
        <div id="userName">유저이름</div>
        <div id="mypage">마이페이지</div>
        <div id="goLoginpage">로그인 버튼</div>
    </div><br/>
    
    <div id="userContents">
        <div id="myNotes">여행노트</div>
        <div id="myAcv">도전과제</div>
        <div id="myReview">내 리뷰</div>
    </div>
    
    <div id="appEtc">
        <div id="notice">공지사항</div>
        <div id="service">고객센터</div>
        <div id="config">설정</div>
    </div>
    
    
    <div id="loginPage">로그인 페이지 </div>
    
    
    
    <script>
        
    </script>
    
    
</html>

